body {		
	font: 14px Arial, "Helvetica Neue", sans-serif;	
	background-color: #fff;		
}

a, a.visited { color: #37a5ea; text-decoration: none; }
a:hover { color: #1990db; text-decoration: underline; }

.floatLeft { float: left; }
.floatRight { float: right; }
.clear { clear: both; line-height: 0; height: 0; }
.no-margin { margin: 0; }
.upper { text-transform: uppercase; }
.small { font-size: 11px; }
.hidden { display: none; }
.alignCenter { text-align: center; }
.alignRight { text-align: right; }

#wrapper {	
	height: 680px;
	width: 998px;
	background: url(/img/bg.png?3) top center no-repeat;
	margin: auto;	
	top: 0; left: 0; bottom: 0; right: 0;
}



#zabitie {
	height: 680px;
	width: 998px;
}

#instagram {
	margin: 0 0 0 65px;	
}

#mail {
	margin: 5px 0 0 50px;
}

#twitter {
	margin: 10px 0 0 15px;
}

#footer { color: white; height: 40px; width: 998px; margin: 0 auto; text-align: center; }
